#game {
  display: block;
  left: 100px; }

.text {
  color: red; }

.img_matvey {
  float: right;
  width: 30%;
  float: right; }

.flexbox_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 20px solid #ece89d;
  margin: 0px 0px 20px 0px; }

.flexbox_column {
  border: 20px solid #5e5373; }

.flexbox_item {
  background-color: #18b5a4;
  padding: 30px 50px;
  font-size: 49%;
  color: #fff;
  font-weight: 700; }

.table {
  border: 4px double black;
  padding: 10px;
  background-color: #fc3; }
  .table td {
    padding: 10px;
    border: 1px solid #fff; }

.form {
  text-align: left; }

.name_matvey {
  text-align: center; }

.centers {
	font-family: 'Roboto', sans-serif;
  text-align: center; }
  .button-container {
	position:relative;
	left:50%;
	margin-top:50px;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
	}
	 
	.btn-gr {
	display:block;
	height:50px;
	width:186px;
	position:relative;
	overflow:hidden;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:2px;
	color:rgb(146, 29, 170);
	font-size:14px;
	text-align:center;
	}
	 
	.btn-gr:after {
	position:absolute;
	content:'';
	display:inline-block;
	background:#3bade3;
	background:linear-gradient(45deg,#3bade3 0%,#576fe6 25%,#9844b7 51%,#ff357f 100%);
	height:50px;
	width:372px;
	z-index:-1;
	-webkit-transform:translateX(-280px);
	transform:translateX(-280px);
	transition:-webkit-transform 400ms ease-in;
	transition:transform 400ms ease-in;
	transition:transform 400ms ease-in,-webkit-transform 400ms ease-in
	}
	 
	.btn-gr:hover:after {
	-webkit-transform:translateX(-200px);
	transform:translateX(-200px)
	}
	@media (max-width:1200px) {	
		.container{
			max-width: 970px;
		}
	}
	@media (max-width:992px) {	
		.container{
			max-width: 750px;
		}
	}
	@media (max-width:633px) {	
		.container{
			max-width: 520px;
		}
	}